/use_cases/eval_student/data/*
/use_cases/eval_student/train_NER.csv
/use_cases/eval_student/data/*/
/use_cases/eval_student/preprocessed_test_set.csv
.ipynb_checkpoints
__pycache__/
/use_cases/eval_student/predefined/*
/use_cases/eval_student/predefined/*
